extends layout

block content
  h1 Our Menu

  p Download full PDF:
  a.pdf-btn(href="/menu.pdf" target="_blank") View Menu PDF

  h2 Order Online
  ul.delivery-links
    li: a(href="https://www.ubereats.com" target="_blank") UberEats
    li: a(href="https://www.doordash.com" target="_blank") DoorDash
    li: a(href="https://www.grubhub.com" target="_blank") GrubHub
